@tailwind base;
@tailwind components;
@tailwind utilities;

.title-word {
    animation: color-animation 4s linear infinite;
    --color-1: #df8453;
    --color-2: #3d8dae;
    --color-3: #e4a9a8;
  }
  
  @keyframes color-animation {
    0% {
      color: var(--color-1);
    }
    32% {
      color: var(--color-1);
    }
    33% {
      color: var(--color-2);
    }
    65% {
      color: var(--color-2);
    }
    66% {
      color: var(--color-3);
    }
    99% {
      color: var(--color-3);
    }
    100% {
      color: var(--color-1);
    }
  }
  
  /* Here are just some visual styles. 🖌 */
  
  .title {
    text-transform: uppercase;
  }
  