<head>
    <style>
        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .container {
            border: 2px solid aqua;
        }

        .title {
            margin-top: 2px;
            margin: auto;
            padding: 10px;
            background-color: skyblue;
            align-items: center;
            text-align: center;
            justify-content: center;
        }

        .body-email {
            padding: 30px;
            margin: auto;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="title">
        <h2>{{ title }}</h2>
        </div>
        <div class="body-email">
            <h3> {{ body }} </h3>
        </div>
    </div>
</body>
</html>